<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
</head>
<body>
	<div class="sidebar" data-color="blue" th:fragment="sidebar">
		<!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
		<div class="logo"></div>
		<div class="sidebar-wrapper" id="sidebar-wrapper">
			<ul class="nav">
				<li class="active "><a href="#"> <i
						class="now-ui-icons design_app"></i>
						<p>Dashboard</p>
				</a></li>
				<li><a href="#"> <i class="now-ui-icons education_atom"></i>
						<p>Cadastro de Clientes</p>
				</a></li>
				<li><a href="#"> <i
						class="now-ui-icons design_bullet-list-67"></i>
						<p>Lista de Clientes</p>
				</a></li>


				<li><a href="#"> <i class="now-ui-icons education_atom"></i>
						<p>Informações</p>
				</a></li>
				<li><a href="#"> <i class="now-ui-icons location_map-big"></i>
						<p>Atividades</p>
				</a></li>

				<li><a href="#"> <i class="now-ui-icons users_single-02"></i>
						<p>User Profile</p>
				</a></li>



			</ul>
		</div>
	</div>


</body>
</html>